.value {
  background: #f8f8f8 url("../../images/bg_section6.png") no-repeat top/ cover;
  padding: 10% 0;
  box-sizing: border-box;
  z-index: 10;
  position: relative;

  .inner {
    max-width: 1220px;
    margin: 0 auto;
  }

  &__lists {
    border-left: 1px solid #fff;
    color: #fff;
    padding-left: 50px;
    &__item {
      display: flex;
      padding-bottom: 50px;
      &__left {
        display: inline-block;
        width: 210px;
        &__en {
          font-size: 40px;
          letter-spacing: -0.8px;
          font-weight: 900;
        }
        &__kr {
          font-size: 30px;
          letter-spacing: -0.6px;
          font-weight: 900;
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
          font-size: 38px;
          letter-spacing: -0.76px;
          font-weight: 700;
        }
        &__text {
          font-size: 23px;
          letter-spacing: -0.46px;
        }
      }
    }
  }
}
